<body>
  <header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <nav>
      <ul class="menu">
        <li><a href="#about-me"> About me</a></li>
        <li><a href="#projects"> Projects</a></li>
        <li><a href="#skills"> Skills</a></li>
        <li><a href="#find-me"> Where to find me</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <section id="about-me">
      <div class="about-me-content"> 

        <h1>[WORK IN PROGRESS]</h1>
      <h1>Hi, I'm Beatriz!</h1>

      <h3>I'm a software engineer living currently in Brazil.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac fermentum
        arcu. In interdum, nibh a aliquam laoreet, mi tortor interdum turpis, in
        luctus augue est vel justo. Aliquam in interdum augue, eget suscipit
        magna. Nunc dignissim sapien sit amet magna tristique fermentum. Sed
        nunc magna, gravida ut lobortis a, commodo non libero. Praesent elit
        ipsum, interdum eget pellentesque vitae, tristique fermentum quam.
        Phasellus erat risus, vehicula ut purus at, fermentum vehicula ex.
        Phasellus vulputate bibendum odio, eget tincidunt ante lacinia vitae.
        Nam quis lacus id leo sagittis efficitur. Ut pretium eros in mi
        interdum, in vestibulum elit rhoncus. Phasellus tristique justo metus,
        vel tincidunt purus efficitur nec. Vivamus faucibus felis quis pulvinar
        ornare. Nulla facilisi. Nulla tempus, tellus ut commodo pretium, tortor
        sapien malesuada turpis, at vehicula libero augue sed justo. Duis mattis
        enim et neque fringilla, eget pretium sem fermentum. Curabitur at eros
        non metus bibendum fringilla. Maecenas ultrices faucibus nulla vel
        pellentesque. Praesent maximus laoreet arcu, eu imperdiet massa sagittis
        sed. Cras facilisis augue sit amet quam cursus, et ornare elit
        scelerisque. Cras malesuada nibh purus, a ornare nisl tempor eu.
      </p>
    </div>
    </section>

    <section id="projects">
      <div class="projects-content">
    <h4>Here is a brief resume of my experiences:</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac fermentum
      arcu. In interdum, nibh a aliquam laoreet, mi tortor interdum turpis, in
      luctus augue est vel justo. Aliquam in interdum augue, eget suscipit
      magna. Nunc dignissim sapien sit amet magna tristique fermentum. Sed
      nunc magna, gravida ut lobortis a, commodo non libero. Praesent elit
      ipsum, interdum eget pellentesque vitae, tristique fermentum quam.
      Phasellus erat risus, vehicula ut purus at, fermentum vehicula ex.
      Phasellus vulputate bibendum odio, eget tincidunt ante lacinia vitae.
      Nam quis lacus id leo sagittis efficitur. Ut pretium eros in mi
      interdum, in vestibulum elit rhoncus. Phasellus tristique justo metus,
      vel tincidunt purus efficitur nec. Vivamus faucibus felis quis pulvinar
      ornare. Nulla facilisi. Nulla tempus, tellus ut commodo pretium, tortor
      sapien malesuada turpis, at vehicula libero augue sed justo. Duis mattis
      enim et neque fringilla, eget pretium sem fermentum. Curabitur at eros
      non metus bibendum fringilla. Maecenas ultrices faucibus nulla vel
      pellentesque. Praesent maximus laoreet arcu, eu imperdiet massa sagittis
      sed. Cras facilisis augue sit amet quam cursus, et ornare elit
      scelerisque. Cras malesuada nibh purus, a ornare nisl tempor eu.
    </p>

    <table cols="5" rowHeight="100px">
      <tr>
        <td
          class="card"
          *ngFor="let tile of tiles"
          [style.background]="tile.color"
        >
          <h4>{{ tile.title }}</h4>
          <p>{{ tile.description }}</p>
        </td>
      </tr>
    </table>
  </div>
  </section>
  </div>
</body>
